@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 75%;
}

body{
    width: 100%;
    height: 100%;
    background-color: #222831;
    color: #F2F2F2;
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 3rem;
    color: #F96D00;
    font-weight: 800;
}


nav a{
    font-size: 20px;
    color: #F2F2F2;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover, nav a.active{
    color: #F96D00;
    border-bottom: 3px solid #F96D00;
}

@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #F96D00;
        border-bottom: 3px solid #F96D00;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #393E46;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #F96D00;
    }
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: #222831;
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #F96D00;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size: 25px;
}

.home-img{
    border-radius: 50%;
    border: 3px solid #F96D00;
}

.home-img img{
    position: relative;
    width: 450px;
    border-radius: 50%;
}


.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: #222831;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #F96D00;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #F96D00;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: #F96D00;
    color: #222831;
    box-shadow: 0 0 25px #F96D00;
}

@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 200px;
        margin-top: 10px;
    }
}

